os
dotenv
langchain
langchain_community
langgraph
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
uvicorn
langchain-groq
langchain_core
langchain-huggingface 
sentence_transformers